.menu-icon {
    cursor: pointer;
    color: #EEEEEE;
}

.menu {
    position: absolute;
    top: 5rem;
    right: 1.2rem;
    color: #fff;
    margin-top: 1rem;
    display: none;

}

.menu a {
    background-color: var(--grey);
    text-decoration: none;
    display: block;
    color: var(--white);
    font-size: 2rem;
}

.bigmac {
    font-size: 2.5rem;
    font-weight: bold;
    margin-right: 3rem;
}

nav {
    background-color: var(--grey);
    display: flex;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.logo{
    display: flex;
}
.logo img {
    width: 100%;
   
}

.logo h2{
   color: #EEEEEE;
   margin-top: 2.5rem;
   margin-left: 4rem;
}

a{
    max-width: 15rem;
    max-height: 10rem;
}

