*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    widows: 100%;
    position: relative;
    height: 780px;
}

.btn{
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.7);
    text-align: center;
    font-weight: bold;
    position: absolute;
    color: #fff;
    box-shadow: 0 0 10px rgba(255,255,255,.6);
    transition: all .3s ease;
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}

.btn-back{
    left: 2%;
    top: calc(50% - 70px);

}

.btn-forward{
    right: 2%;
    top: calc(50% - 70px);
}


.carrusel{
    width: 100%;
    height: 50rem;
    object-fit: cover;

}

.slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: var(--white); 
}
