@import url(./navbar-style.css);
@import url(./slider-style.css);
@import url(./about-style.css);
@import url(./login-style.css);
@import url(./tools-style.css);
@import url(./footer-style.css);

:root{
    --black: #222831;
    --grey:  #393E46;
    --blue:  #00ADB5;
    --white: #EEEEEE;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}