@import url(./navbar-style.css);
@import url(./slider-style.css);
@import url(./about-style.css);

:root{
    --black: #222831;
    --grey:  #393E46;
    --blue:  #00ADB5;
    --white: #EEEEEE;
}

*{
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}