@import url(./navbar-style.css);
@import url(./slider-style.css);

:root{
    --black: #222831;
    --grey:  #393E46;
    --blue:  #00ADB5;
    --white: #EEEEEE;
}

*{
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

#herramientas {
    width: fit-content;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}

#herramientas img {
    width: 100px;
    height: 100px;
    margin: 10px;
}

#herramientas img:hover {
    width: 120px;
    height: 120px;
    margin:0px;
